body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kadwa: Kadwa;
  --font-josefin-sans: "Josefin Sans";
  --font-irish-grover: "Irish Grover";
  --font-amiri: Amiri;
  --font-arimo: Arimo;

  /* font sizes */
  --font-size-mid: 17px;
  --font-size-mini: 15px;
  --font-size-3xl: 22px;
  --font-size-17xl: 36px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-45xl: 64px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-gray-100: #fbfbfb;
  --color-gray-200: #1f251f;
  --color-gray-400: #1f1c1c;
  --color-gray-300: #020202;
  --color-darkgray: #969694;
  --color-snow: #fffbfb;
  --color-white: #fff;
  --color-black: #000;
  --color-darkslategray-100: #464a46;
  --color-darkslategray-200: #17594a;
  --color-olivedrab: #8eac50;

  /* Border radiuses */
  --br-mini: 15px;
  --br-81xl: 100px;
  --br-4xs: 9px;
  --br-33xl: 52px;
}
