.desktop-6-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1465px;
  height: 1038px;
}
.about-us {
  position: absolute;
  top: 141px;
  left: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 436px;
  height: 138px;
}
.desktop-6-item {
  position: absolute;
  top: 898px;
  left: 0;
  background-color: #1f222b;
  width: 1465px;
  height: 90px;
}
.image-5-icon,
.image-6-icon,
.image-7-icon,
.image-8-icon {
  position: absolute;
  top: 925px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.image-5-icon {
  left: 25px;
  mix-blend-mode: normal;
}
.image-6-icon,
.image-7-icon,
.image-8-icon {
  left: 93px;
}
.image-7-icon,
.image-8-icon {
  top: 912px;
  left: 161px;
  width: 59px;
  height: 62px;
}
.image-8-icon {
  top: 925px;
  left: 606px;
  width: 32px;
  height: 32px;
}
.copyright-2023-create {
  position: absolute;
  top: 935px;
  left: 649px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 11px;
}
.desktop-6-inner {
  position: absolute;
  top: 292px;
  left: 179px;
  background-color: #d9d9d9;
  width: 1087px;
  height: 516px;
}
.image-29-icon,
.image-30-icon {
  position: absolute;
  top: 292px;
  left: 175.8px;
  width: 1090px;
  height: 516px;
  object-fit: cover;
}
.image-29-icon {
  top: 476px;
  left: 648.8px;
  width: 148px;
  height: 148px;
}
.desktop-6-child1,
.rectangle-div {
  position: absolute;
  left: 178.8px;
  width: 1087px;
}
.rectangle-div {
  top: 635px;
  background: linear-gradient(
    180deg,
    rgba(255, 184, 0, 0),
    rgba(93, 79, 79, 0.44) 53.65%,
    rgba(80, 80, 80, 0.43) 53.66%,
    transparent
  );
  height: 173px;
  mix-blend-mode: linear-burn;
}
.desktop-6-child1 {
  top: 410px;
  background: linear-gradient(
    180deg,
    rgba(225, 162, 0, 0),
    rgba(93, 79, 79, 0.44) 53.65%,
    rgba(68, 67, 66, 0.44) 53.66%,
    rgba(0, 0, 0, 0.1)
  );
  height: 118px;
  mix-blend-mode: multiply;
}
.ayo-dolan {
  position: absolute;
  top: 316px;
  left: 576.8px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-irish-grover);
  display: inline-block;
  width: 286px;
  height: 44px;
}
.desktop-6 {
  position: absolute;
  top: 3263px;
  left: 0;
  background-color: var(--color-white);
  width: 1465px;
  height: 1038px;
  overflow: hidden;
  font-family: var(--font-arimo-hebrew-subset);
}
.desktop-4-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #141614;
  width: 1456px;
  height: 1037px;
}
.desktop-4-child1,
.desktop-4-inner,
.desktop-4-item {
  position: absolute;
  top: 394px;
  left: 189px;
  border-radius: var(--br-33xl);
  background-color: var(--color-darkslategray-100);
  width: 365px;
  height: 283px;
}
.desktop-4-child1,
.desktop-4-inner {
  left: 581px;
}
.desktop-4-child1 {
  left: 973px;
}
.convenience,
.various-destination {
  color: var(--color-olivedrab);
  height: 49px;
}
.various-destination {
  position: absolute;
  top: 443px;
  left: 217.8px;
  display: flex;
  align-items: center;
  width: 266px;
}
.convenience {
  top: 431px;
  left: 609.8px;
  width: 319px;
}
.convenience,
.healing-needs,
.what-can-this {
  position: absolute;
  display: flex;
  align-items: center;
}
.healing-needs {
  top: 443px;
  left: 1022.8px;
  color: var(--color-olivedrab);
  width: 266px;
  height: 49px;
}
.what-can-this {
  top: 96px;
  left: 324.8px;
  font-size: var(--font-size-45xl);
  text-align: center;
  justify-content: center;
  width: 795px;
  height: 172px;
  text-shadow: 2px 30px 50px rgba(24, 105, 42, 0.75);
}
.convenience-in-accessing,
.provides-many-choices,
.providing-holiday-needs {
  position: absolute;
  top: 567px;
  left: 217.8px;
  font-size: var(--font-size-13xl);
  display: flex;
  align-items: center;
  width: 291px;
  height: 41px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.55);
  -webkit-text-stroke: 1px #fff;
  mix-blend-mode: normal;
}
.convenience-in-accessing,
.providing-holiday-needs {
  left: 609.8px;
}
.providing-holiday-needs {
  top: 550px;
  left: 1032.8px;
}
.desktop-4 {
  position: absolute;
  top: 2158px;
  left: 0;
  background-color: var(--color-white);
  width: 1456px;
  height: 1037px;
  overflow: hidden;
  text-align: left;
}
.desktop-5-child {
  position: absolute;
  top: 0;
  left: -5px;
  background-color: var(--color-gray-200);
  width: 1461px;
  height: 1036px;
}
.image-9-icon {
  position: absolute;
  top: -302px;
  left: -351px;
  width: 1348.2px;
  height: 1284.3px;
  object-fit: contain;
  opacity: 0.2;
  mix-blend-mode: soft-light;
}
.desktop-5-inner,
.desktop-5-item {
  position: absolute;
  top: 214px;
  width: 62px;
}
.desktop-5-item {
  left: 1232px;
  max-height: 100%;
}
.desktop-5-inner {
  left: 1146px;
  height: 0;
  object-fit: contain;
}
.desktop-5-child1,
.desktop-5-child2,
.ellipse-div {
  position: absolute;
  top: 866px;
  left: 935px;
  border-radius: 50%;
  background-color: var(--color-darkgray);
  width: 15px;
  height: 15px;
}
.desktop-5-child1,
.desktop-5-child2 {
  left: 978px;
}
.desktop-5-child2 {
  left: 1021px;
}
.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 286px;
  height: 456px;
}
.group-item {
  left: 329px;
}
.group-child1,
.group-inner {
  position: absolute;
  top: 381px;
  left: 26px;
  border-radius: var(--br-4xs);
  background-color: var(--color-olivedrab);
  box-shadow: -4px 6px 4px rgba(0, 0, 0, 0.25);
  width: 109px;
  height: 45px;
}
.group-child1 {
  left: 354px;
}
.add,
.add1 {
  position: absolute;
  top: 392px;
  left: 38px;
  font-size: var(--font-size-xl);
  font-family: var(--font-arimo-hebrew-subset);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 23px;
}
.add1 {
  left: 366px;
}
.ba4e4d3702882054dedaacfb99fa-1-icon,
.image-18-icon {
  position: absolute;
  top: 21px;
  left: 17.8px;
  width: 250px;
  height: 304px;
  object-fit: cover;
}
.image-18-icon {
  left: 348.8px;
}
.s,
.taman-sari {
  position: absolute;
  top: 335px;
  left: 22.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 35px;
}
.taman-sari {
  top: 333px;
  left: 25.8px;
  color: var(--color-gray-100);
}
.s1 {
  top: 335px;
  left: 350.8px;
}
.borobudur,
.parangtritis,
.s1,
.s2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 35px;
}
.borobudur {
  top: 333px;
  left: 353.8px;
  color: var(--color-gray-100);
}
.parangtritis,
.s2 {
  top: 335px;
  left: 679.8px;
}
.parangtritis {
  top: 340px;
  left: 678px;
  color: #000;
}
.group-child3 {
  position: absolute;
  top: 381px;
  left: 25px;
  border-radius: var(--br-4xs);
  background-color: var(--color-olivedrab);
  box-shadow: -4px 6px 4px rgba(0, 0, 0, 0.25);
  width: 109px;
  height: 45px;
}
.add2 {
  position: absolute;
  top: 392px;
  left: 37px;
  font-size: var(--font-size-xl);
  font-family: var(--font-arimo-hebrew-subset);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 23px;
}
.image-19-icon {
  position: absolute;
  top: 21px;
  left: 19.8px;
  width: 250px;
  height: 304px;
  object-fit: cover;
}
.parangtritis1 {
  position: absolute;
  top: 332px;
  left: 24.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 35px;
}
.group-child4 {
  position: absolute;
  top: 1px;
  left: 336px;
  background-color: var(--color-darkslategray-200);
  width: 286px;
  height: 456px;
}
.search-more {
  position: absolute;
  top: 295px;
  left: 358.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 35px;
}
.group-child5 {
  position: absolute;
  top: 175px;
  left: 425px;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid #1a1a1a;
  box-sizing: border-box;
  width: 107px;
  height: 107px;
}
.group-child6,
.line-icon {
  position: absolute;
  top: 226.5px;
  left: 456px;
  width: 45px;
  height: 0;
}
.group-child6 {
  top: 206px;
  left: 479px;
  width: 0;
  height: 41px;
  object-fit: contain;
}
.rectangle-group {
  position: absolute;
  top: 0;
  left: 658px;
  width: 622px;
  height: 457px;
  color: var(--color-gray-100);
}
.rectangle-parent {
  width: 1280px;
  position: relative;
  height: 457px;
}
.frame-22-desktop-5 {
  position: absolute;
  top: 340px;
  left: 421px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hi-mateee {
  margin: 0;
}
.hi-mateee-where-container1 {
  width: 100%;
}
.hi-mateee-where-container {
  position: absolute;
  top: 314px;
  left: 74.8px;
  font-size: var(--font-size-45xl);
  display: flex;
  font-family: var(--font-josefin-sans);
  color: var(--color-olivedrab);
  text-align: left;
  align-items: center;
  width: 658px;
  height: 214px;
}
.desktop-5 {
  position: absolute;
  top: 1057px;
  left: 0;
  background-color: var(--color-white);
  width: 1456px;
  height: 1036px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-300);
  font-family: var(--font-amiri);
}
.home {
  position: absolute;
  top: -3px;
  left: 991px;
}
.image-1-icon,
.image-2-icon,
.image-3-icon {
  position: absolute;
  top: -450px;
  left: 1px;
  width: 1439px;
  height: 1763px;
  object-fit: cover;
}
.image-2-icon,
.image-3-icon {
  top: -789px;
  left: 0;
  width: 1514px;
  height: 2016px;
}
.image-2-icon {
  top: 109px;
  left: 101px;
  border-radius: 24px;
  width: 1240px;
  height: 806px;
}
.desktop-3-child {
  position: absolute;
  top: 397px;
  left: 733.5px;
  width: 501.5px;
  height: 127.1px;
}
.desktop-3-inner,
.desktop-3-item {
  position: absolute;
  top: 482px;
  left: 887px;
  border-radius: 50%;
  background-color: #ffcd81;
  width: 21px;
  height: 20px;
}
.desktop-3-inner {
  top: 416px;
  left: 1041px;
  background-color: #ffcc80;
}
.destination,
.trip-plan {
  top: 29px;
  justify-content: center;
  width: 164px;
  height: 39px;
}
.destination {
  position: absolute;
  left: 840px;
  display: flex;
  align-items: center;
}
.trip-plan {
  left: 1021px;
}
.experience-a-breathtaking,
.map,
.trip-plan {
  position: absolute;
  display: flex;
  align-items: center;
}
.map {
  top: 29px;
  left: 1185px;
  justify-content: center;
  width: 139px;
  height: 39px;
}
.experience-a-breathtaking {
  top: 406px;
  left: 158px;
  font-size: 88px;
  text-align: left;
  width: 692px;
  height: 172px;
  text-shadow: 2px 30px 50px rgba(24, 105, 42, 0.75);
}
.user-1-icon {
  position: absolute;
  top: 29px;
  left: 1364px;
  width: 38px;
  height: 38px;
  object-fit: contain;
}
.desktop-3-child1 {
  position: absolute;
  top: 60px;
  left: 861px;
  max-height: 100%;
  width: 418.5px;
}
.make-your-own,
.type-text-for {
  position: absolute;
  text-align: left;
  display: flex;
  align-items: center;
  width: 485px;
  height: 41px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.55);
  -webkit-text-stroke: 1px #fff;
  mix-blend-mode: normal;
}
.type-text-for {
  top: 635px;
  left: 158px;
  font-size: var(--font-size-13xl);
}
.make-your-own {
  top: 537px;
  left: 850px;
}
.desktop-3-child2 {
  position: absolute;
  top: 712px;
  left: 158px;
  border-radius: 25.5px;
  background-color: #4d6a56;
  width: 164px;
  height: 51px;
}
.learn-more {
  position: absolute;
  top: 721px;
  left: 178px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 32px;
}
.ayo-dolan1 {
  position: absolute;
  top: 29px;
  left: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-irish-grover);
  display: inline-block;
  width: 286px;
  height: 44px;
}
.desktop-3 {
  left: 0;
  background-color: var(--color-white);
  overflow: hidden;
}
.desktop-10,
.desktop-3,
.mask-group {
  position: absolute;
  top: 0;
  width: 1456px;
  height: 1024px;
}
.mask-group {
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.desktop-10 {
  background-color: var(--color-white);
  overflow-y: auto;
  font-size: var(--font-size-5xl);
}
.landing-page {
  width: 100%;
  position: relative;
  height: 4282px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-josefin-sans);
}
